.signup-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &__body {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        padding-block: 8rem;

        background-image: var(--auth-bg-top), var(--auth-bg-bottom);
        background-repeat: no-repeat;
        background-position: top left, bottom right;
        background-size: contain;
    }

    .create-account {
        transform: translateY(-5%);
        margin: 0 auto;
        padding: 5rem 8rem;

        border-radius: 20px;
        border: 1px solid var(--Light-Gray, #f5f5f5);
        background: var(--White, #fff);
        box-shadow: 0px 96px 27px 0px rgba(76, 177, 159, 0),
            0px 62px 25px 0px rgba(76, 177, 159, 0.01),
            0px 35px 21px 0px rgba(76, 177, 159, 0.03),
            0px 15px 15px 0px rgba(76, 177, 159, 0.04),
            0px 4px 8px 0px rgba(76, 177, 159, 0.05);

        &__title {
            font-size: 2.4rem;
            font-weight: bold;
            margin-bottom: 2.4rem;
            color: #333;
        }

        &__form {
            display: flex;
            flex-direction: column;
        }

        &__input-group {
            margin-bottom: 1.6rem;

            width: 550px;

            &--half {
                display: flex;
                gap: 1.6rem;
            }
        }

        &__input-wrapper {
            flex: 1;
        }

        &__label {
            display: block;
            margin-bottom: 0.8rem;
            font-weight: 500;
            color: #333;
        }

        &__input {
            width: 100%;
            padding: 1.2rem;
            border: 1px solid #e0e0e0;
            border-radius: 0.8rem;
            font-size: 1.6rem;

            &::placeholder {
                color: #aaa;
            }

            &:focus {
                outline: none;
                border-color: #4a90e2;
            }
        }

        &__password-input {
            position: relative;
        }

        &__password-toggle {
            position: absolute;
            right: 1.2rem;
            top: 50%;
            transform: translateY(-50%);
            background: none;
            border: none;
            cursor: pointer;
            font-size: 2rem;
        }

        &__submit {
            background-color: #1a1a1a;
            color: #ffffff;
            border: none;
            border-radius: 0.8rem;
            padding: 1.2rem;
            font-size: 1.6rem;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-top: 1.6rem;
            height: 5rem;

            &:hover {
                background-color: #333;
            }
        }

        &__login {
            margin-top: 1.6rem;
            text-align: center;
            font-size: 1.6rem;
            color: #666;

            font-weight: 500;
        }

        &__login-link {
            color: #4cb19f;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

// media qerueries for responsiveness

@media only screen and (max-width: 850px) {
    .signup-page {
        &__body {
            padding-block: 4rem;
            padding-inline: 2rem;
        }

        .create-account {
            transform: translateY(0);
            margin: 0 auto;
            padding: 3rem 2rem;

            width: 100%;

            &__input-group {
                margin-bottom: 1.6rem;
                flex-direction: column;

                width: 100%;

                &--half {
                    display: flex;
                    gap: 1.6rem;
                }
            }

            &__input-wrapper {
                flex: 1;
            }

            &__label {
                display: block;
                margin-bottom: 0.8rem;
                font-weight: 500;
                color: #333;
            }
        }
    }
}
